{% load static %}

<p class="feedback">Please let us know if you have any feedback or would like to
  unsubscribe from these monthly communications.</p>

</div> <!-- /body -->

<div id="signoff">
  <p>Yours sincerely,</p>
  <p>
    The OpenPrescribing Team<br>
    Nuffield Department of Primary Care Health Sciences, University of Oxford<br>
    <a href="mailto:hello@op2.org.uk">hello@op2.org.uk</a><br>
  </p>
</div>

<div id="footer">
  <img alt="" src="data:image/png;base64,{{ footer_image }}"><br>
  <a href="https://www.phc.ox.ac.uk/research/datalab">https://www.phc.ox.ac.uk/research/datalab</a>
</div>
