{% load static %}

<p class="feedback">This is message 2 out of a total of 3 monthly
messages. Please let us know if you have any feedback, or wish to
opt-out of this series of communications; </p>

</div> <!-- /body -->

<div id="signoff">
  <p>Yours sincerely,</p>
  <p>
    The OpenPrescribing Team<br>
    Nuffield Department of Primary Care Health Sciences, University of Oxford<br>
    <a href="mailto:hello@op2.org.uk">hello@op2.org.uk</a><br>
  </p>
</div>

{% if is_a2 %}
<hr>
[1] http://www.thelancet.com/journals/lancet/article/PIIS0140-6736(16)00215-4/abstract
{% endif %}

<div id="footer">
  <img alt="" src="data:image/png;base64,{{ footer_image }}"><br>
  <a href="https://www.phc.ox.ac.uk/research/ebm-datalab">https://www.phc.ox.ac.uk/research/ebm-datalab</a>
</div>
