{% load static %}
  <p>Please let us know if you have any feedback or would like to
    unsubscribe from these monthly communications.</p>
  <p>Yours sincerely,</p>
  <p>The OpenPrescribing Team</p>
  <p>Nuffield Department of Primary Care Health Sciences</p>
  <p>University of Oxford</p>
  <p><a href="mailto:hello@op2.org.uk">hello@op2.org.uk</a> </p>
  <p><a href=
  "https://www.google.com/url?q=https://www.phc.ox.ac.uk/research/datalab&amp;sa=D&amp;ust=1524046939849000">
  https://www.phc.ox.ac.uk/research/datalab</a></p>
  <div>
    <p>                                                        </p>
    <p><img src="{% static "footer.png" %}" alt="OpenPrescribing logo"></p>
  </div>
