{% extends "_base.html" %}

{% block content %}
{% include '_header.html' %}

<p><b>We wrote to you last month to tell you that your practice was
  one of the 20% highest prescribing practices for broad spectrum
  antibiotics over the last six months in England.</b></p>

<p>GP practices have used similar feedback to reduce their
  overall antibiotic prescribing rate by 3.3%[1]. Please email us
  at hello@op2.org.uk if you would like to share any changes you
  have made in response to this feedback — we would be very
  interested in hearing about them.</p>


<table border="0" cellpadding="0" cellspacing="0">
<tr><td style="margin-right:10px" width="30%">

  As a reminder, here is how
  <span class="your-practice">{{practice_name }}</span> compares
  to <span class="other-practices">other practices</span> for broad
  spectrum antibiotic prescriptions such as co-amoxiclav,
  cephalosporins and quinolones as % of all antibiotics:

  </td>
<td>
<img alt="" src="data:image/png;base64,{{ encoded_image }}">
</td>
</tr>
</table>

<p>We understand these drugs should be prescribed in some situations,
  and that it can be difficult to refuse them to patients who ask for
  them.</p>

<p>You can learn more about how your prescription rates compare to
other practices at {{ intervention_url }}</p>

<p class="about-op">This letter uses data from OpenPrescribing, a free,
  publicly-funded service created by researchers in the University
  of Oxford to make national prescribing data more useful to
  GPs.</p>

{% include '_footer.html' with is_a2="yes" %}

{% endblock %}
