{% load static %}
<div id="header">
  {% if show_header_from %}
  <div id="header__from">
    <img alt="" src="data:image/png;base64,{{ header_image }}"><br><br>
    Nuffield Department of Primary Care Health Sciences<br>
    University of Oxford<br><br>
    <b>{% now "d F Y" %}</b>
  </div>
  {% endif %}

  {% if show_header_to %}
  <div id="header__to">
    PRESCRIBING LEAD, {{ intervention.contact.name }}<br>
    {% if intervention.contact.address1 != intervention.contact.name %}
      {{ intervention.contact.address1 }}<br>
    {% endif %}
    {% if intervention.contact.address2 %}
      {{ intervention.contact.address2 }}<br>
    {% endif %}
    {% if intervention.contact.address3 %}
      {{ intervention.contact.address3 }}<br>
    {% endif %}
    {% if intervention.contact.address4 %}
      {{ intervention.contact.address4 }}<br>
    {% endif %}
    {% if intervention.contact.postcode %}
      {{ intervention.contact.postcode }}<br>
    {% endif %}
  </div>
  {% endif %}
</div>


<div id="body">

  <p>Dear <b>{{ practice_name }}</b>,</p>
